pytest_session.txt
.cache
.coverage
.sconf_temp
.sconsign.dblite
config.log
tests/.tests
tests/.cache
ups/*.cfgc
_build.*
bin/*.py
brightObjectMasks
ps1_pv3_3pi_20170110
gaia_dr2_20200414
raw
CALIB
shared
gen3.sqlite3
DATA
*.pyc
